---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "normalize";

$primary-color: #515554;
$secondary-color: #fff;
$tertiary-color: #fc382d;

$min-width: 320px;
$max-width: 800px;

$medium-break: 500px;
$spacing: 10px;

@import "header";
@import "footer";
@import "index";
@import "meeting";
@import "company";

body {
  background-color: #edeeee;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.4;
}

.wrapper {
  max-width: $max-width;
  min-width: $min-width - ($spacing * 2);
  margin: auto;

  > p {
    padding: $spacing;

    @media (min-width: $max-width + ($spacing * 2)) {
      padding: 0;
    }
  }
}

h2 {
  text-align: center;
  font-size: 2.5em;
  margin-top: $spacing*12;
}

h3 {
  color: $primary-color;
  font-size: 2em;
  margin-bottom: 0;
  padding: 20px 0;
}

h4 {
  font-size: 1.2em;
}

a.button {
  background-color: $tertiary-color;
  border-radius: ($spacing / 2);
  color: #fff;
  display: inline-block;
  padding: $spacing;
  text-decoration: none;

  &:hover {
    background-color: darken($tertiary-color, 15%);
  }

  &.large {
    font-size: 1.5em;
    padding: $spacing*2;
  }
}

.meeting-link {
  margin: $spacing*5 0;
  text-align: center;
}

.center {
  text-align: center;
}
