---
layout: default
title: Dallas Ruby Brigade
---

<p class="description">
  {{ site.description }}
</p>

<h2 id="meetings">Meetings</h2>
<p>
  We meet on the first and third Tuesdays of the month.
  The first is our primary meeting which often includes a speaker.
  Talks usually last between 30 minutes and 1 hour.
  Afterwords there's time to network and discuss.
  The third is a hacknight where we work on personal projects, ask for help, and chat about whatever comes to mind.
</p>

{% include meeting.html
  title="Monthly Meeting - Using Word Embedding to Implement a Conceptual Search"
  speaker="Matt Reishus"
  date="October 3rd"
  host="Improving"
  host_address1="5445 Legacy Dr. #100"
  host_address2="Plano, TX 75024"
  description="
    Off the shelf machine learning: A demonstration of downloading a word embedding model and using it in your own project. We'll create a search that expands a single word into a variety of related concepts.
  "
  rsvp_text="RSVP for the talk"
  rsvp_url="https://www.meetup.com/dallasrb/events/242427053/"
%}

{% include meeting.html
  title="Hacknight"
  date="September 19th"
  host="Modern Message"
  host_address1="750 North St. Paul Street #1230"
  host_address2="Dallas, TX 75021"
  description="
    We work on personal projects, ask for help, and chat about whatever comes to mind.
  "
  rsvp_text="RSVP to come code"
  rsvp_url="https://www.meetup.com/dallasrb/events/243306342/"
%}

<h2 id="contact-us">Contact Us</h2>

<div class="contact">
  <div>
    <h4>Follow</h4>
    <p>Keep up with what's new.</p>
    <a href="https://twitter.com/dallasruby" class="button">@dallasruby</a>
  </div>
  <div>
    <h4>Forum</h4>
    <p>
      A great place to ask questions and listen to group discussions.
      We also encourage Ruby job posts to the forum.
    </p>
    <a href="https://groups.google.com/forum/#!forum/dallasrb" class="button">Join Forum</a>
  </div>
  <div>
    <h4>Chat</h4>
    <p>Ask questions and chat on our Slack channel.</p>
    <a href="https://dallasrb-slackin.herokuapp.com/" class="button">Join Chat</a>
  </div>
</div>

<h2 id="sponsors">Sponsors</h2>

<p>
  We're grateful to our two sponsors.
  They provide us with meeting spaces, food, and drinks.
</p>

<div class="sponsors">
  {% include company.html
    name="Improving"
    url="http://improving.com"
    logo="/images/companies/improving.png"
  %}
  {% include company.html
    name="Modern Message"
    url="http://modernmsg.com"
    logo="/images/companies/modern-message.png"
  %}
</div>

<h2 id="companies">Companies</h2>

<p>
  The Dallas/Fort Worth area is full of great companies using Ruby.
</p>

<div class="companies">
  {% include company.html
    name="1000Bulbs"
    url="https://www.1000bulbs.com/"
    logo="/images/companies/1000-bulbs.png"
  %}
  {% include company.html
    name="AT&T"
    url="https://www.att.com"
    logo="/images/companies/att.png"
  %}
  {% include company.html
    name="AutoRevo"
    url="http://www.autorevo.com"
    logo="/images/companies/auto-revo.svg"
  %}
  {% include company.html
    name="Budgit"
    url="https://budgitapp.com/"
    logo="/images/companies/budgit.svg"
  %}
  {% include company.html
    name="Campus Labs"
    url="https://www.campuslabs.com"
    logo="/images/companies/campus-labs.png"
  %}
  {% include company.html
    name="Charity Network"
    url="https://charitynetwork.com"
    logo="/images/companies/charity-network.png"
  %}
  {% include company.html
    name="Circle Seven Five"
    url="https://www.circlesevenfive.com"
    logo="/images/companies/circle_seven_five.png"
  %}
  {% include company.html
    name="The Container Store"
    url="https://www.containerstore.com"
    logo="/images/companies/the-container-store.png"
  %}
  {% include company.html
    name="Copart"
    url="https://www.copart.com/"
    logo="/images/companies/copart_logo.svg"
  %}
  {% include company.html
    name="Cratebind"
    url="https://cratebind.com"
    logo="/images/companies/cratebind.png"
  %}
  {% include company.html
    name="getaroom"
    url="https://www.getaroom.com"
    logo="/images/companies/getaroom.png"
  %}
  {% include company.html
    name="Geoforce"
    url="https://www.geoforce.com"
    logo="/images/companies/geoforce.png"
  %}
  {% include company.html
    name="Kalkomey"
    url="http://www.kalkomey.com"
    logo="/images/companies/kalkomey.png"
  %}
  {% include company.html
    name="Kubos"
    url="http://www.kubos.com"
    logo="/images/companies/kubos.png"
  %}
  {% include company.html
    name="Mercury Flight"
    url="http://www.mercuryflight.com/"
    logo="/images/companies/mercury-flight.png"
  %}
  {% include company.html
    name="Onsite Health Diagnostics"
    url="http://www.onsitehealthdiagnostics.com"
    logo="/images/companies/onsite-health-diagnostics.png"
  %}
  {% include company.html
    name="ORM Technologies"
    url="http://www.orm-tech.com"
    logo="/images/companies/orm-technologies.png"
  %}
  {% include company.html
    name="Oven Bits"
    url="http://ovenbits.com"
    logo="/images/companies/oven-bits.png"
  %}
  {% include company.html
    name="Power Home Remodeling"
    url="https://powerhrg.com"
    logo="/images/companies/power-home-remodeling.png"
  %}
  {% include company.html
    name="ReadyRosie"
    url="https://www.readyrosie.com/"
    logo="/images/companies/ready-rosie.png"
  %}
  {% include company.html
    name="Rudolph Data"
    url="https://www.prorudolph.com"
    logo="/images/companies/rudolph_data.png"
  %}
  {% include company.html
    name="Sabre"
    url="https://www.sabre.com"
    logo="/images/companies/sabre.svg"
  %}
  {% include company.html
    name="Simpli.fi"
    url="https://www.simpli.fi"
    logo="/images/companies/simplifi.png"
  %}
  {% include company.html
    name="Teladoc"
    url="https://www.teladoc.com"
    logo="/images/companies/teladoc.svg"
  %}
  {% include company.html
    name="Weathermatic"
    url="https://www.weathermatic.com"
    logo="/images/companies/weathermatic.png"
  %}
  {% include company.html
    name="YouScience"
    url="http://www.youscience.com/"
    logo="/images/companies/you-science.svg"
  %}
</div>
