<div class="meeting">
  <h3>{{ include.title }}</h3>
  {% if include.speaker %}
    <div class="speaker">by {{ include.speaker }}</div>
  {% endif %}
  <div class="info">
    <div class="when">
      <h4>When?</h4>
      {{ include.date }} @ 7pm - 9pm
    </div>
    <div class="where">
      <h4>Where?</h4>
      <strong>{{ include.host }}</strong><br>
      {{ include.host_address1 }}<br>
      {{ include.host_address2 }}
    </div>
    <div class="where-map">
      <a href="https://www.google.com/maps/place/{{ include.host_address1 }},{{ include.host_address2 }}">
        <img src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDSHmrgaUvwdZsvXoOWWXdqKT6v6A-VXxQ&size=450x250&markers=color:red|{{ include.host_address1 }},{{ include.host_address2 }}">
      </a>
    </div>
    <div class="what">
      <h4>What?</h4>
      <p>{{ include.description }}</p>
    </div>

    <div class="actions">
      <a href="{{ include.rsvp_url }}" class="button">{{ include.rsvp_text }}</a>
    </div>
  </div>
</div>
