header {
  background-color: $secondary-color;
}

.logo {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: $spacing * 5;
}

.menu {
  display: flex;
  justify-content: center;
  margin-top: $spacing;
  padding: $spacing;

  a {
    color: $tertiary-color;
    font-size: 1.5em;
    font-style: bold;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: $spacing * 3;
    }
  }
}
