h2, .description {
  margin-top: $spacing * 4;
}

.meeting {
  .speaker {
    background-color: $tertiary-color;
    color: #fff;
    font-style: italic;
    padding: $spacing;
  }

  .info {
    background-color: $secondary-color;
    display: flex;
    flex-wrap: wrap;
    padding: 0 $spacing;
  }

  .actions {
    margin-top: $spacing * 2;
    height: $spacing * 4;
    text-align: center;
    width: 100%;
  }
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > * {
    background-color: $secondary-color;
    flex: 0 0 calc(33% - (#{$spacing} * 3));
    padding: $spacing;

    @media (max-width: $break-point) {
      flex: 0 0 calc(100% - (#{$spacing} * 2));
    }

    h4 { 
      margin-top: 0;
    }
  }
}
