.meeting {
  .speaker {
    background-color: $tertiary-color;
    color: #fff;
    font-style: italic;
    padding: $spacing;
  }

  .info {
    background-color: $secondary-color;
    display: flex;
    flex-wrap: wrap;
    padding: 0 $spacing;

    .when {
      @media (min-width: $medium-break) {
        flex: 0 0 33.33%;
      }
    }

    .where {
      @media (min-width: $medium-break) {
        flex: 0 0 33.33%;
      }
    }

    .where-map {
      @media (min-width: $medium-break) {
        flex: 0 0 33.33%;
      }

      img {
        width: 100%;
      }
    }
  }

  .actions {
    padding: $spacing;
    text-align: center;
    width: 100%;
  }
}
