.meeting {
  .speaker {
    background-color: $tertiary-color;
    color: #fff;
    font-style: italic;
    padding: $spacing;
  }

  .info {
    background-color: $secondary-color;
    padding: $spacing;
    position: relative;

    .where-map {
      @media (min-width: $medium-break) {
        position: absolute;
        top: 0;
        right: 0;
      }

      img {
        width: 100%;
      }
    }
  }

  .actions {
    padding: $spacing;
    text-align: center;
    width: calc(100% - #{$spacing * 2});
  }
}
